<!doctype html>
<html lang="zh-TW">
  <head>
    <%- include('./head/head'); -%>
    <title>URBNSTEP | 首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="hero">
      <h1 class="display-1 fw-700 cr-n0 pb-16">URBNSTEP</h1>
      <p class="h3 fw-700 cr-n0 pb-48">Your Step, Your Statement</p>
      <button type="button" class="bg-p300 p-md cr-n900 px-24 py-12 fw-500">
        立即選購
      </button>
    </section>
    <!-- 新品上市 -->
    <section class="container-1296 my-64 my-sm-40 cr-n900">
      <h2 class="display-2 sm-h2 fw-700 p-center mb-12 mb-sm-8">
        New Arrivals
      </h2>
      <p class="h2 sm-h4 fw-700 p-center mb-32 mb-sm-24">新品上市</p>
      <ul class="index-products">
        <li>
          <img
            src="../assets/images/new-1.png"
            alt="Monoverse"
            class="mb-12 mb-sm-8"
          />
          <h3 class="h5 sm-h6 fw-700 mb-4 mb-sm-0">Monoverse</h3>
          <p class="p-md fw-500">NT$3,600</p>
        </li>
        <li>
          <img
            src="../assets/images/new-2.png"
            alt="PLATFORM 404"
            class="mb-12 mb-sm-8"
          />
          <h3 class="h5 sm-h6 fw-700 mb-4 mb-sm-0">PLATFORM 404</h3>
          <p class="p-md fw-500">NT$2,600</p>
        </li>
        <li>
          <img
            src="../assets/images/new-3.png"
            alt="URBN Force"
            class="mb-12 mb-sm-8"
          />
          <h3 class="h5 sm-h6 fw-700 mb-4 mb-sm-0">URBN Force</h3>
          <p class="p-md fw-500">NT$3,200</p>
        </li>
        <li>
          <img
            src="../assets/images/new-4.png"
            alt="Mode90"
            class="mb-12 mb-sm-8"
          />
          <h3 class="h5 sm-h6 fw-700 mb-4 mb-sm-0">Mode90</h3>
          <p class="p-md fw-500">NT$4,000</p>
        </li>
      </ul>
    </section>
    <!-- 熱銷補貨 -->
    <!-- 2026.07.22 Kent Checking -->
    <section class="container-1296 mt-64">
      <h2 class="h2 sm-h4 fw-700 cr-n900 py-5 mb-16">熱銷補貨</h2>
      <div class="best-seller-products">
        <div class="product">
          <img src="../assets/images/product-3.png" alt="熱銷產品一" />
          <div class="hito p-sm px-12 py-8 bg-p100 cr-p400 fw-500">
            人氣 No.1
          </div>
        </div>
        <div class="product">
          <img src="../assets/images/product-11.png" alt="熱銷產品二" />
          <div class="hito p-sm px-12 py-8 bg-p100 cr-p400 fw-500">
            人氣 No.1
          </div>
        </div>
        <div class="product">
          <img src="../assets/images/product-6.png" alt="熱銷產品三" />
          <div class="hito p-sm px-12 py-8 bg-p100 cr-p400 fw-500">
            人氣 No.1
          </div>
        </div>
        <div class="product">
          <img src="../assets/images/product-9.png" alt="熱銷產品四" />
          <div class="hito p-sm px-12 py-8 bg-p100 cr-p400 fw-500">
            人氣 No.1
          </div>
        </div>
      </div>
    </section>
    <!-- 跨界聯名，限量發售 -->
    <section class="index-sales my-48 df jcc aic">
      <div class="content fw-700 cr-n0 df flxdc jcc aic">
        <span class="title title-1">URBNSTEP</span>
        <span class="title title-2">x</span>
        <span class="title title-3">Kevin Chen</span>
        <p class="subtitle">跨界聯名，限量發售</p>
        <p class="details">
          <span class="detail-1">新銳漫畫家 Kevin Chen 親自操刀設計</span>
          <span class="detail-2">，</span>
          <span class="detail-3">街頭能量全面引爆！</span>
        </p>
        <button
          type="button"
          class="bg-p300 p-md cr-n900 px-24 py-12 fw-500 mt-48"
        >
          立即搶購
        </button>
      </div>
    </section>
    <!-- 依系列選購 -->
    <section class="container-1296 my-64">
      <h2 class="h2 fw-700 cr-n900 mb-16">依系列選購</h2>
      <div class="index-series">
        <div class="index-series-item">
          <img src="../assets/images/product-11.png" alt="系列一" />
          <div class="textbox">
            <p class="h3 fw-700 cr-n0 mb-8">URBN RUNNER</p>
            <p class="h4 fw-700 cr-n0">慢跑系列</p>
          </div>
        </div>
        <div class="index-series-item">
          <img src="../assets/images/product-6.png" alt="系列二" />
          <div class="textbox">
            <p class="h3 fw-700 cr-n0 mb-8">STREETMODE</p>
            <p class="h4 fw-700 cr-n0">滑板系列</p>
          </div>
        </div>
        <div class="index-series-item">
          <img src="../assets/images/product-4.png" alt="系列三" />
          <div class="textbox">
            <p class="h3 fw-700 cr-n0 mb-8">CHUNK DISTRICT</p>
            <p class="h4 fw-700 cr-n0">厚底系列</p>
          </div>
        </div>
        <div class="index-series-item">
          <img src="../assets/images/product-10.png" alt="系列四" />
          <div class="textbox">
            <p class="h3 fw-700 cr-n0 mb-8">COLLAB ZONE</p>
            <p class="h4 fw-700 cr-n0">聯名企劃</p>
          </div>
        </div>
      </div>
    </section>
    <!-- 穿搭靈感 -->
    <section class="container-1296 my-64">
      <h2 class="h2 fw-700 cr-n900 mb-16">穿搭靈感</h2>
      <div class="index-inspirations">
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-1.png" alt="穿搭靈感一" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-2.png" alt="穿搭靈感二" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-3.png" alt="穿搭靈感三" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-4.png" alt="穿搭靈感四" />
        </div>
        <div class="index-inspiration inspiration-bigger">
          <img src="../assets/images/inspiration-5.png" alt="穿搭靈感五" />
        </div>
        <div class="index-inspiration inspiration-bigger">
          <img src="../assets/images/inspiration-6.png" alt="穿搭靈感六" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-7.png" alt="穿搭靈感七" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-8.png" alt="穿搭靈感八" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-9.png" alt="穿搭靈感九" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-10.png" alt="穿搭靈感十" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-11.png" alt="穿搭靈感十一" />
        </div>
        <div class="index-inspiration">
          <img src="../assets/images/inspiration-12.png" alt="穿搭靈感十二" />
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
